{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h3 class="text-center text-muted">@{{ username }}</h2>
    <br>

    <h4 class="text-center">Change Password</h4>
    <br>
    <form action="/profile" method="post" class="mb-4">
        <input type="hidden" name="action" value="change_password">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
    <br>

    <h4 class="text-center">Delete Account</h4>
    <br>
    <form action="/profile" method="post">
        <input type="hidden" name="action" value="delete_account">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="password" required>
        </div>
        <button class="btn btn-danger" type="submit">Delete Account</button>
    </form>
{% endblock %}